{% extends "edit_account.html" %}
{% load staticfiles%}

{% block title %}Change Password{% endblock %}

{% block edit_account_content %}
<div class="col-md-9">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %}">  <!-- singular -->
                <a class="close" data-dismiss="alert">×</a>
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="panel space-4">
        <div class="panel-header">
          Password
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <form action="/change_password/" method="post" novalidate>
                    {% csrf_token %}
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Last Password</label>
                            <input type="password" class="form-control" placeholder="Last Password" name="last_password" required data-validation-required-message="Please enter your last password.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>New Password</label>
                            <input type="password" class="form-control" placeholder="New Password" name="new_password_1" required data-validation-required-message="Please enter your new password.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Again new Password</label>
                            <input type="password" class="form-control" placeholder="New Password" name="new_password_2" required data-validation-required-message="Please enter your new password again.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-danger btn-lg">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}