{% extends "base.html" %}
{% load staticfiles%}

{% block title %}My Account{% endblock %}


{% block content %}
<section class="success" id="account">
    <div class="container">
        <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>My Account</h2>
                    <hr class="star-light">
                </div>
            </div>
        <div class="row white-box">
            <div class="col-md-3">
                  <div class="panel space-4">
                    <div class="media media-photo-block">
                        <a href="#" title="Ver perfil">
                            {% if not profile.avatar %}
                                <img class="img-responsive" src="{% static "img/no_imagen.png" %}" >
                            {% else %}
                                <img alt="{{ user.first_name }}" class="img-responsive" src="{{ MEDIA_URL }}{{ profile.avatar }}" title="{{ user.first_name }}" >
                            {% endif %}
                        </a>
                    </div>
                    <div class="panel-body">
                      <h3 class="text-center">
                        {{ request.user.first_name }}
                      </h3>
                      <ul class="list-unstyled text-center">
                        <li>
                            <a href="/edit_profile/">Editar perfil</a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="panel space-4">
                    <div class="panel-header">
                    Información verificada
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                          <li class="row row-table space-2">
                              <div class="col-md-9 col-middle">
                                Identificación oficial
                              </div>
                              <div class="col-md-3 col-middle">
                                <i class="glyphicon glyphicon-ok"></i>
                              </div>
                          </li>
                          <li class="row row-table space-2">
                              <div class="col-md-9 col-middle">
                                Dirección de correo electrónico
                              </div>
                              <div class="col-md-3 col-middle">
                                <i class="glyphicon glyphicon-ok"></i>
                              </div>
                          </li>
                          <li class="row row-table space-2">
                              <div class="col-md-9 col-middle">
                                Número de teléfono
                              </div>
                              <div class="col-md-3 col-middle">
                                <i class="glyphicon glyphicon-ok"></i>
                              </div>
                          </li>
                        </ul>
                        <a href="#">
                        Verify more info
                    </a>
                    </div>
                  </div>

            </div>

            <div class="col-md-9">
                <div class="panel space-4">
                    <div class="panel-body">

                        <a href="#" class="btn btn-primary pull-right">Invitaciones</a>

                        <p class="h4">¡Invita a tus amigos y consigue crédito de viaje! </p><p> Gana hasta 95€ por cada persona a la que invites.
                        </p>
                    </div>
                </div>


                <div class="panel space-4">
                    <div class="panel-header">
                      Mensajes (0 nuevos)
                    </div>
                    <ul class="list-layout list-unstyled">
                        <li class="panel-body thread-read thread">
                            <div class="row">
                                <div class="col-md-3">
                                  <div class="row row-table">
                                    <div class="col-md-5">
                                      <a href="#" target="_blank"><img alt="Sabine" class="img-round" height="50" src="https://a2.muscache.com/im/pictures/6a389615-62f9-4a41-9a75-29a0be1f9a7a.jpg?aki_policy=profile_small" title="Sabine" width="50"></a>
                                    </div>
                                    <div class="col-md-7">
                                      Sabine
                                      <br>
                                      28 de Sep
                                    </div>
                                  </div>
                                </div>
                                <a href="#" class="link-reset text-muted">
                                  <div class="col-md-7">Ok thanks
                                    <br>
                                    <span class="text-muted">
                                        <span class="street-address">Brabantdam</span>, <span class="locality">Gante</span>, <span class="region">Vlaanderen</span>
                                          (22 de Septiembre de 2016 - 29 de Septiembre de 2016)
                                    </span>
                                  </div>
                                </a>
                                <div class="col-md-2">
                                    <span class="label label-green label-success">Aceptada</span>
                                    <br>
                                    405€
                                </div>
                            </div>
                        </li>

                        <li class="panel-body thread-read thread" id="thread_123992185">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="row row-table">
                                        <div class="col-md-5">
                                          <a href="#" target="_blank"><img alt="Niamh" class="img-round" height="50" src="https://a0.muscache.com/im/users/18130137/profile_pic/1437053438/original.jpg?aki_policy=profile_small" title="Niamh" width="50"></a>
                                        </div>
                                        <div class="col-md-7">
                                          Niamh
                                          <br>
                                          23/08/2015
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="link-reset text-muted">
                                    <div class="col-md-7">

                                                  Hi Andres,

                                        Yes, that's fine - I can work around ...
                                        <br>
                                        <span class="text-muted">
                                            <span class="street-address">Upper Salthill</span>, <span class="locality">Galway City</span>, <span class="region">Galway</span>
                                              (22 de Agosto de 2015 - 23 de Agosto de 2015)
                                        </span>
                                    </div>
                                </a>
                                <div class="col-md-2">
                                    <span class="label label-green label-success">Aceptada</span>
                                    <br>
                                    182€
                                </div>

                            </div>
                        </li>

                    </ul>

                    <div class="panel-body">
                        <a href="#">Todos los mensajes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
